.cloud0-primitive {
  color: #c6c6c6;
  fill: #efefef;
}
.cloud1-primitive {
  color: #999;
  fill: #e5e5e5;
}
.cloud2-primitive {
  color: #727272;
  fill: #ccc;
}
.cloud3-primitive {
  color: #595959;
  fill: #b2b2b2;
}
.cloud4-primitive {
  color: #323232;
  fill: #999;
}
.fog-primitive {
  color: #999;
  fill: #e5e5e5;
}
.sun-primitive {
  color: #ffee8a;
  fill: #ffaf22;
  stroke: #ffaf22;
}
.sunWinter-primitive {
  color: #ffee8a;
  fill: #fbbe40;
  stroke: #f5b93f;
}
.moon-primitive {
  fill: #354246;
}
.raindrop-primitive {
  fill: #0062bf;
}
.snowflake-primitive {
  fill: #47c0e3;
}
.lightning-primitive {
  fill: #ffdd15;
}
