@import 'node_modules/yr-colours/colours.styl'

.sun-centre,
.sun-ray,
.sun-winter-horizon,
.moon,
.fog,
.raindrop,
.sleet,
.snowflake,
.lightning {
	stroke-width: 0;
}
.sun-ray {
	fill: SUN_RAY;
}
.sun-centre {
	fill: SUN_CENTRE;
}
.sun-winter-horizon {
	fill: SUN_HORIZON;
}
.moon {
	fill: MOON;
}
.fog {
	fill: lighten(black, 85%);
}
.raindrop {
	fill: RAIN;
}
.sleet {
	fill: SLEET;
}
.snowflake {
	fill: SNOW;
}
.lightning {
	fill: LIGHTNING;
}
.cloud {
	stroke-width: 4;
	stroke-miterlimit: 10;
}
.cloud-10 {
	fill: lighten(black, 90%);
}
.cloud-15 {
	fill: lighten(black, 85%);
}
.cloud-30 {
	fill: lighten(black, 70%);
}
.cloud-40 {
	fill: lighten(black, 60%);
}
.cloud-50 {
	fill: lighten(black, 50%);
}
