.sun-centre,
.sun-ray,
.sun-winter-horizon,
.moon,
.fog,
.raindrop,
.sleet,
.snowflake,
.lightning,
.bg {
  stroke-width: 0;
}
.sun-ray {
  fill: #e88d15;
}
.sun-centre {
  fill: #faba2f;
}
.sun-winter-horizon {
  fill: #4d4d4d;
}
.moon {
  fill: #afc1c9;
}
.fog {
  fill: #d9d9d9;
}
.raindrop {
  fill: #3e77c3;
}
.sleet {
  fill: #57dcdc;
}
.snowflake {
  fill: #89ddf0;
}
.lightning {
  fill: #c9af16;
}
.cloud {
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.cloud-10 {
  fill: #e6e6e6;
}
.cloud-15 {
  fill: #d9d9d9;
}
.cloud-30 {
  fill: #b3b3b3;
}
.cloud-40 {
  fill: #999;
}
.cloud-50 {
  fill: #808080;
}
