.cloud0-primitive {
  color: #c6c6c6;
  fill: #efefef;
}
.cloud1-primitive {
  color: #999999;
  fill: #e5e5e5;
}
.cloud2-primitive {
  color: #727272;
  fill: #cccccc;
}
.cloud3-primitive {
  color: #595959;
  fill: #b2b2b2;
}
.cloud4-primitive {
  color: #323232;
  fill: #999999;
}
.fog-primitive {
  color: #999999;
  fill: #e5e5e5;
}

.sun-primitive {
  color: #ffee8a;
  fill: #fbbe40;
  stroke: #f5b93f;
}
.sunWinter-primitive {
  color: #ffee8a;
  fill: #fbbe40;
  stroke: #f5b93f;
}

.moon-primitive {
  fill: #193e44;
}

.raindrop-primitive {
  fill: #2874ba;
}

.snowflake-primitive {
  fill: #47c0e3;
}

.lightning-primitive {
  fill: #ffdd15;
}